<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="information-circle"></ion-icon>
      {{ 'pages.info.title' | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only
              [color]="chromecastService.isConnected() ? 'secondary' : 'primary'"
              [disabled]="!chromecastService.isInitialised()"
              (click)="cast()">
        <ion-icon name="desktop"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-textarea placeholder="{{ 'pages.info.textArea' | translate}}" clearInput rows="6"
                  [(ngModel)]="songNumberService.info"></ion-textarea>
  </ion-item>

  <div padding>
    <ion-buttons text-center>
      <button ion-button block
              [disabled]="!chromecastService.isConnected()"
              [color]="presentButton.color"
              (click)="present()">
        {{presentButton.text}}
      </button>
    </ion-buttons>
  </div>
</ion-content>
