<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ 'pages.selectBookModal.title' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list inset>
    <ng-container *ngFor="let collection of collections">
      <ion-item-divider>
        <ion-label>{{collection.section}}</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let item of collection.books" (click)="selectBook(item)"
                [color]="item == book? 'primary': ''">
        <ion-thumbnail slot="start">
          <img [src]="item.thumb">
        </ion-thumbnail>
        <ion-label>
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
